# Python
venv/
__pycache__/
*.pyc
*.pyo

# Images generated during runtime
server/faces/
server/captures/

# Node
node_modules/

# Environment
.env
cloudflared.exe
temp/
desktop.ini

# Build
dist/
dashboard/dist/